server:
  port: 8081

spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:postgresql://localhost:5433/${DB_NAME_WALLET:wallet_db}
    username: ${DB_USER:admin}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}

rabbitmq:
  queue:
    name: wallet-debit-queue