spring:
  application:
    name: payment

  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME_PAYMENT:payment_db}
    username: ${DB_USER:admin}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
rabbitmq:
  host: localhost
  port: 5672
  username: ${RABBITMQ_USER:guest}
  password: ${RABBITMQ_PASSWORD:guest}
  exchange: payment.v1.events
  queue: wallet.v1.payment-created.consumer
  routing-key: payment.created